@model IEnumerable<Mosh.Vidly.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>List of our movies</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Genre
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Details", "Details", new { id=item.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
