@model IEnumerable<Mosh.Vidly.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>List of our customers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="customers">
    <thead>
        <tr>
            <th>
                Customer Name
            </th>
            <th>
                Is subscribed to newsletter
            </th>
            <th>
                Membership type
            </th>
            <th>
                Birthday
            </th>
            <th>
                Actions
            </th>
            <th>
                JS Delete
            </th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSubscribedToNewsletter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
            <td>
                <button class=" btn-link js-delete" data-customer-id="@item.Id">Remove</button>
            </td>
        </tr>
    </tbody>
}
</table>

@section scripts
{
<script>
    $(document).ready(function () {
        $("#customers").on("click", "js-delete", function () {
            var button = $(this);

            bootbox.confirm("really?", function (result) {
                if (result) {
                    $.ajax({
                        url: "api/customers/" + button.attr("data-customer-id"),
                        method: "DELETE",
                        success: function () {
                            console.log("success!");
                            button.parents("tr").remove();
                        }
                    });
                }
            });
        });
    });
</script>
}
